[Unit]
Description=LCD display daemon for Covid 19
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=WORKDIR_PLACEHOLDER
ExecStart=/usr/bin/python3 WORKDIR_PLACEHOLDER/main.py

[Install]
WantedBy=multi-user.target

